@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body{
    margin: 0%;
    padding: 0%;
    font-family: 'PT Sans', sans-serif;
    background-color: #252529;
    color: white;
    line-height: 1.5;
}

html{
    scroll-behavior: smooth;
}

.menu-btn div{
    width: 40px;
    height: 4px;
    margin: 5px;
    border-radius: 4px;
    background-color: white;
}

.menu-btn{
    position: absolute;
    top: 12px;
    right: 15px;
    visibility: hidden;
}

li,a{
    list-style: none;
    text-decoration: none;
    color: white;
}

nav{
    height: 48px;
    width: 100%;
    background-color: #333;
    color: white;
   
}

.navbar{
    padding-bottom: 15px;
    position: absolute;
    top: 0;
    left: 0;
}

#main-heading{
    position: absolute;
    top: 7px;
    left: 30px;
    font-size: 25px;
    font-weight: bold;
}

.navbar .nav-list{
    display: flex;
    position: absolute;
    top: 10px;
    left: 50px;
}

.navbar .nav-list li{
    font-size: 20px;
    font-weight: bold;
    margin-left: 40px;
    margin-right: 55px;
}
.navbar .nav-list .hidden-li a{
    font-size: 20px;
    font-weight: 400;
}
.navbar .nav-list li:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    background: white;
    color: #333;
}
.main-container h1{
    font-size: 40px;
    font-weight: bold;
}
.main-container h2{
   font-size: 25px;
   font-weight: bold;
}
.main-container p{
    font-size: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

.music-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}
.music-container p{
    font-size: 20px;
     padding-left: 100px;
     padding-right: 100px;
}
.music-container img{
    height: 65vh;
    width: 70%; 
}  

.video-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    background: white;
    color: #333;
}
.video-container p{
    font-size: 20px;
    padding-left: 100px;
    padding-right: 100px;
}
.video-container img{
    height: 65vh;
    width: 70%; 
}

.entertainment-container{
    height: 60vh;
    background: url(img/section-bg.jpg) repeat bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.gift-card-container{
    height: 60vh;
    display: grid;
    padding-right: 5em;
    grid-template-columns: repeat(2, 1fr);
    background: white;
    color: #333;
}

.gift-card-img img{
    height: 50vh;
    width: 60%;
}
.gift-card-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gift-card-content{
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: left;
}
#main-footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 30px;
}
#footer-bottom{
    overflow: hidden;
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
    width: 100%;
    height: 40px;
}

@media only screen and (max-width: 980px){

    .navbar .nav-list li{
        margin-left: 25px;
        margin-right: 20px;
    }
    
}
@media only screen and (max-width: 850px){

    .navbar .nav-list li{
        margin-left: 15px;
        margin-right: 15px;
    }

}

@media only screen and (max-width: 750px){

    .navbar{
        height: 100%;
        background: black;
        transition: all 0.2s ease-out;
    }
    .navbar.c-resp{
        background:#333;
    }
    #navbar-icon{
        visibility: hidden;
    }
    #main-heading{
        font-size: 25px;
        position: absolute;
        top: 3px;
        left: 5px;
    }
    .menu-btn{
        visibility: visible;
        position: absolute;
        top: 5px;
        right: 5px;
    }
    .navbar .nav-list{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 10px; 
    }
    .navbar .nav-list li{
        font-size: 20px;
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .navbar .nav-list .hidden-li{
        visibility: hidden;
        line-height: 40px;
        padding-top: 10px;
        border-bottom: 2px solid rgb(80, 79, 79);
    }
    .navbar .nav-list .hidden-li.show{
        visibility: visible;
    }
    
    .navbar.h-resp{
        height: 48px;
    }

    .main-container h1{
        font-size: 45px;
        font-weight: bold;
    }
    .main-container h2{
        font-size: 35px;
        font-weight: bold;
    }
    .main-container p{
        font-size: 25px;
    }
    .music-container img{
        height: 50vh;
    }
    .video-container img{
        height: 50vh;
    }

    .gift-card-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }
    .gift-card-container img{
        height: 20vh;
    }
    .gift-card-content{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }

}

@media only screen and (max-width: 650px){
    .navbar{
        height: 100%;
        background: black;
        transition: all 0.2s ease-out;
    }
    .navbar.c-resp{
        background:#333;
    }
    .h-resp{
        height: 7vh;
    }

    .main-container h1{
        font-size: 35px;
    }
    .main-container h2{
        font-size: 25px;
    }
    .main-container p{
        font-size: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .music-container img{
        height: 30vh;
    }
    .video-container img{
        height: 30vh;
    }
    .music-container p{
        font-size: 20px;
        padding:0%;
    }
    .video-container p{
        font-size: 20px;
        padding:0%;
    }
    .entertainment-container{
        height: 100vh;
    }
    .entertainment-container p{
        font-size: 20px;
    }
    .gift-card-container{
        height: 80vh;
    }
    .gift-card-content p{
        font-size: 16px;
    }
    #main-footer{
        display: none;
    }
    #footer-bottom{
        visibility: visible;
        font-size: 12px;
    }
    
}

@media only screen and (max-width: 410px){
        
    .navbar{
        height: 100%;
        background: black;
        transition: all 0.2s ease-out;
    }
    .navbar.c-resp{
        background:#333;
    }
        .h-resp{
            height: 7vh;
        }

        #main-heading{
            font-size: 20px;
            position: absolute;
            top: 3px;
            left: 5px;
        }
        .menu-btn{
            visibility: visible;
            position: absolute;
            top: 5px;
            right: 5px;
        }
      
        .main-container h1{
            font-size: 35px;
        }
        .main-container h2{
            font-size: 25px;
        }
        .main-container p{
            font-size: 20px;
            padding: 5px;
        }
        .music-container h3{
            font-size: 20px;
        }
        .music-container p{
            font-size: 12px;
        }
        .music-container .btn{
            font-size: 12px;
        }
        .video-container h3{
            font-size: 20px;
        }
        .video-container p{
            font-size: 12px;
        }
        .video-container .btn{
            font-size: 12px;
        }
        .entertainment-container h3{
            font-size: 20px;
        }
        .entertainment-container p{
            font-size: 12px;
        }
        .gift-card-container img{
            height: 50px;
        }
        .gift-card-container p{
            font-size: 13px
        }
}

@media only screen and (min-width: 210px) and (max-width: 310px){
    
    .h-resp{
        height: 7vh;
    }

    #main-heading{
        font-size: 20px;
        position: absolute;
        top: 3px;
        left: 5px;
    }
    .menu-btn{
        visibility: visible;
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .main-container h1{
        font-size: 35px;
    }
    .main-container h2{
        font-size: 25px;
    }
    .main-container p{
        font-size: 15px;
        padding: 5px;
    }
    .music-container h3{
        font-size: 20px;
    }
    .music-container p{
        font-size: 12px;
    }
    .music-container .btn{
        font-size: 12px;
    }
    .video-container h3{
        font-size: 20px;
    }
    .video-container p{
        font-size: 12px;
    }
    .video-container .btn{
        font-size: 12px;
    }
    .entertainment-container h3{
        font-size: 20px;
    }
    .entertainment-container p{
        font-size: 12px;
    }
    .gift-card-container img{
        height: 50px;
    }
    .gift-card-container p{
        font-size: 13px
    }
    #footer-bottom{
        height: 30px;
        font-size: 8px;
    }

}

@media only screen and (max-height: 380px){
    .main-container p{
        display: none;
    }
}
@media only screen and (max-height: 280px){
    .entertainment-container{
        height: 100vh;
    }
    .gift-card-container{
        height: 100vh;
    }
}

@media only screen and (max-width: 210px){
    body{
        display: none;
    }






